.heloe{
    margin-right: 10vh;
    padding-bottom: 2vh;
    padding-left: 10vh;
}

.inputComment{
    background-color: inherit;
    border: 1px solid white;
    border-radius: 7px;
    padding: 0.8vh;
    margin-left: 2vh;
    margin-top: 0.5vh;
    width: 90%;
    color: white;
}



.comDate{
    color: #E4DCBE;
    font-size: 8px;
    margin-left: auto;
}

.comVal{
    margin-left: 1vh;
    margin-top: 5px;
    font-size: small;
}

.comUser{
    margin-left: 1vh;
    font-size: small;
    font: bold;
    font-weight: 700;
}