.feed {
  background-color: #282828;
  position: relative;
  padding-left: -1vh;
  padding-right: 3vh;
  border-radius: 5px;
  overflow-y: scroll;
  height: 91vh;
 width: 100%;
 padding-top: 1vh;
}

::-webkit-scrollbar {
width: 1px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

.feed__header {
position: sticky;
top: 0;
border: 1px solid var(--twitter-background);
padding: 15px 20px;
}

.feed__header > h2 {
font-size: 20px;
font-weight: 800;
}

.but {
  margin-top: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

.button-29 {
  margin: 2vh;
  appearance: none;
  background-color: transparent;
  border: 2px solid #AAAAAA;
  border-radius: 25px;
  box-sizing: border-box;
  color: #AAAAAA;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  height: 5%;
  will-change: transform;
}

.button-29:disabled {
  pointer-events: none;
}

.button-29:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: none;
  transform: translateY(0);
}