.folderItem {
    display: flex;
    align-items: center;
    margin: 0.6em 0.1em;
    border-style: solid;
    border-width: 1px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vh;
    margin-right: 1vh;
    margin-right: 1vh;
    margin-top: 2vh;
    width: 98%;
}

.button1{
    margin-left: auto;
}

.button2{
    margin-left: 2vh;
    margin-right: 2vh;
}

.button-30 {
    margin: 2vh;
    appearance: none;
    background-color: transparent;
    border: 2px solid #AAAAAA;
    border-radius: 25px;
    box-sizing: border-box;
    color: #AAAAAA;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 75%;
    will-change: transform;
  }
  
  .button-30:disabled {
    pointer-events: none;
  }
  
  .button-30:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: none;
    transform: translateY(0);
  }