.mainMenuOption {
  align-items: center;
  cursor: pointer;
  padding-bottom: 10%;
  margin-left: 1vh;
}

.mainMenuOptionContent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mainMenuOption:hover {
  /* background-color: #313131; */
  border-radius: 30px;
  transition: color 100ms ease-out;
  margin-left: 1vh;
}

.mainMenuOption > .MuiSvgIcon-root {
  padding: 20px;
  width: 20px;
  height: 22px;
}

.mainMenuWoman {
  font-weight: 800;
  font-size: 1vh;
  padding-left: 10%;
}

.mainMenuOption--active {
  color: var(--twitter-color);
}
