.mainMenu {
  margin-top: 2vh;
  width: 25vh;
  position: relative;
}


.imageclass {
  position: relative;
  margin-bottom: 2vh;
  margin-top: 2.5vh;
  margin-right: 2vh;
  /* margin-left: 50px; */
}

.closee{
  background: url("./threelines.png");
  background-size: 100%;
  height: 2.1vh;
  width: 3vh;
  padding-bottom: 3vh;
  margin-left: 0.5vh;
  border: 0cm;
  margin-bottom: 0.5vh;
  background-repeat: no-repeat;
  margin-right: 1vh;
}

/* CSS */
.button-42 {
  margin-right: 1vh;
  appearance: none;
  background-color: transparent;
  border: 2px solid #AAAAAA;
  /* border: 2px solid #1A1A1A; */
  border-radius: 25px;
  box-sizing: border-box;
  color: #AAAAAA;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: x-small;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: "fit-content";
  will-change: transform;
}

.button-42:disabled {
  pointer-events: none;
}

.button-42:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-42:active {
  box-shadow: none;
  transform: translateY(0);
}

.userName{
  
  /* background-color: #fcfcfc; */
  background-color: #282828;
  border: 0cm;
  padding: 7px;
  border-bottom: 1px solid;
}

.passWord{
  background-color: #282828;
  border: 0cm;
  padding: 7px;
  border-bottom: 1px solid;
}

.email{
  background-color: #282828;
  border: 0cm;
  padding: 7px;
  border-bottom: 1px solid;
  margin-bottom: 2vh;
}

.userName:focus{
  /* background-color: #fcfcfc; */
  background-color: #AAAAAA;
  padding: 7px;
  outline: none;
  border: 0cm;
}
.passWord:focus{
  background-color: #AAAAAA;
  padding: 7px;
  outline: none;
  border: 0cm;
}

.email:focus{
  background-color: #AAAAAA;
  padding: 7px;
  outline: none;
  border: 0cm;
  margin-bottom: 2vh;
}


/* CSS */
.button-28 {
  margin-right: 1vh;
  appearance: none;
  background-color: transparent;
  border: 2px solid #AAAAAA;
  /* border: 2px solid #1A1A1A; */
  border-radius: 25px;
  box-sizing: border-box;
  color: #AAAAAA;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: x-small;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-33 {
  margin: 2vh;
  appearance: none;
  background-color: transparent;
  /* border: 2px solid #1A1A1A; */
  border: 2px solid #AAAAAA;
  border-radius: 25px;
  box-sizing: border-box;
  color: #AAAAAA;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-33:disabled {
  pointer-events: none;
}

.button-33:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-33:active {
  box-shadow: none;
  transform: translateY(0);
}