.posts {
    position: relative;
    padding: 0.5em -1em;
}

.picture {
    width: 100%;
    height: 95vh;
    padding-top: 2vh;
    background-size: 45vh;
    background-image: url('main.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.tab {
    width: 100%;
    height: 95vh;
    padding-top: 2vh;
    background-size: 45vh;
    background-image: url('main.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}