.post {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0.5em 0.2em;
    border-style: solid;
    border-width: 2px;
    padding: 0.8vh 0.6vh;
    position: relative;
    width: 100%;
    overflow-wrap: break-all;
    border-radius: 15px;
    border: 2px solid #f09191;
    font-family: "Montserrat";
    margin-top: 1vh;
    margin-left: 0.6vw;
}
.post__left {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

.post__left > i {
    font-size: medium;
    color:#898ea2 ;
}

.post > div {
    margin-right: 20px;
}

.post__center > img {
    object-fit: fill;
    height: 60px;
    border-radius: 5px;
}

.post__right {
    width: 100%;
    font-size: small;
}

.post__right > h5 a {
    /* font-weight: bold; */
    font-weight: 600;
    font-size: x-small;
    color: #464855;
    padding: 5px 0;
}

.post__right > span {
    font-size: x-small;
}

.post__right > p {
    font-size: x-small;
}

.post__right > .post__info {
    font-size: smaller;
    color: #898ea2;
    font-family: "Montserrat";
}

.post__right .post__info1 a {
    font-size: x-small;
    color: #ff8686;
    font-family: "Montserrat";
}

.post__right > * {
    margin-bottom: 0.5vh;
}

p.post__info {
    margin-top: 10px;
}

p.post__info1 {
    font-weight: 500;
    margin-top: 1.5vh;
}

.under_tags {
    display: flex;
}

.whatever{
    color:#898ea2;
    font-size: medium;
}

.tagL{
    margin-top: 1vh;
}

.tagy{
    background: lightblue;
    border-radius: 50%;
}

.post_under{
    margin-top: 15vh;
    background-color: white;
    align-items: center;
    float: left;
    display: inline;
}