.menu-item {
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #f9f9f9;
}

.menu-item-right-icon {
	width: 3vh; 
	height: 3vh; 
	transform: rotate(90deg);
}
.menu-item-right-icon:hover {
	background-color:blue;
}