

.dropdown {
  position: absolute;
  width: fit-content;
  transform: translate(-110%, -84%);
  background-color: #e7dede;
  overflow: scroll;
  overflow-x: hidden;
  line-height:12px;
  transition: height var(--speed) ease; 
  border-radius: 15px;
}

.menu {
  color: #a1a3ac;
  font-weight: bold;
  width: fit-content;
}



/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}