.simba{
  margin-bottom: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  border-radius: 45px;
  text-align: center;
  border-color: #4B4B4B;
  display: inline-block;
  outline-style: double;
  outline-color: #4B4B4B;
  outline-width: 1px;
  padding: 1px;
  padding-left: 6px;
  width: "fit-content";
  font-size: smaller;
}

.xabutton{
  margin-left: 5px;
  border:0px;
  background-color: inherit;
  color: #AAAAAA;
}