.only{
  display: flex;
  max-width: 40vh;
  font-size: 1.3vh;
  min-width: 40vh;
}
.sideMenu__container {
  margin-top: 2vh;
  margin-left: 0.5vh;
  padding-right: 1vh;
  font-size: small;
  max-width: 40vh;
}
.sideMenu__container > h2 {
  font-size: 8px;
  font-weight: 100;
}

.xxbutton{
  font-size: 0.9vh;
  margin-right: 1vh;
  max-height: 2vh;
  align-items: center;
  position: relative;
  background-color: inherit;
  color: #AAAAAA;
  border-width: 1px;
  border-radius: 25px;
  border-color: #AAAAAA;
}