
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

.sourceItem {
  width: 15vh;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1vh;
  letter-spacing: 1.5px;
  padding-right: 3vh;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sourceItem:hover {
  background-color: #f5e6aa;
}

.sourceName {
  font-size: 10px;
  font-weight: 500;
  padding-left: 8%;
  padding-right: 10%;
  font-family: "Montserrat";
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.5);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}
