.buttonInSources{
  width: 2vh;
  height: 2vh;
  margin-left: 0.4vh;
  margin-top: 1vh;
  margin-bottom: 0.3vh;
  border-radius: 25px;
  border-color: #AAAAAA;
  background-color: inherit;
  color: #AAAAAA;
  padding-right: 1vh;
}