.subMainMenuOption {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 4vh;
  cursor: pointer;
  left: 0; right: 0; bottom: 0;
}

.subMainMenuOption:hover {
  /* background-color: #faf5f5; */
  border-radius: 30px;
  transition: color 100ms ease-out;
  margin-left: 1vh;
}

.subMainMenuOption > .MuiSvgIcon-root {
  padding: 20px;
  width: 20px;
  height: 22px;
}

.subMainMenuOption > h2 {
  font-weight: 800;
  font-size: 15px;
  margin-right: 20px;
}

.subMainMenuOption--active {
  color: var(--twitter-color);
}
