.tab-button{
  height: 7vh;
  display: flex;
  width: 8vh;
  margin-right: 2vh;
  position: relative;
  font-size: smaller;
  margin-top: 6vh;
  padding-right: 0.24193548387096775vh;
  background-color: white;
}

.tab-button:hover{
  background-color: #d6d6d6;

}

.xbutton {
  padding-right: 0.4vh;
  background-image: url('bx.png');
  background-size: 1.2vh 1.2vh;
  background-repeat: no-repeat;
  margin-top: 0%;

}

/* .rbutton {
  padding-top: 5px;
  padding-right: 8px;
  background-image: url('br.png');
  background-size: cover;
  height: 2px;
} */

.tab-name {
  width: 7vh;
  margin-left: 1.5vh;
  margin-top: 1.3vh;
  font-weight: 900;
  padding-left: 1vh;
}
