
.tagItem {
  width: 4vh;
  height: 2vh;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 0px;
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.tagName {
  display: inline-block;
  font-size: 0.6vh;
  font-weight: 666;
}


