body {
	--twitter-color: #50b7f5;
	--twitter-background: #e6ecf0;
  }
  
  ::-webkit-scrollbar {
	  display: none;
  }
  
  .app {
	  ::-webkit-scrollbar {
	  display: none;
  }
  background-color: #212121;
  // background-color: #fcfcfc;
  color:  #AAAAAA;
	width: 100%;
	display: flex;
	height: 100vh;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
  }

  
.centralSearch{
	position: relative;
	/* background-color: #F4f5fA; */
	background-color: #212121;
	border-color: #000000;
	border: 0cm;
	padding: 7px;
	height: 1.5vh;
	margin-top: 1vh;
	width: 15vh;
	border-bottom: 1px solid;
	margin-left: 25%;
  }
  
  .centralSearch:focus{
	position: relative;
	/* background-color: #F4f5fA; */
	background-color: #AAAAAA;
	border-color: #000000;
	border: 0cm;
	padding: 7px;
	height: 1.5vh;
	margin-top: 1vh;
	width: 15vh;
	border-bottom: 1px solid;
	margin-left: 25%;
  }
  
  @mixin font-base {
	  padding: 0;
	  margin: 0;
	  line-height: 1.3;
	  font-weight: 600;
  }
  h4 {
	  @include font-base;
  }
  
  p {
	  @include font-base;
	  color: grey;
	  font-size: 0.7rem;
  }
  
  body {
	  background-color: #eee;
  }
  
  .container {
	  width: 560px;
	  background-color: #fff;
	  margin: 0 auto;
  }
  
  header,
  section {
	  position: fixed;
	  text-align: center;
	  width: 560px;
	  background-color: #fff;
  }
  
  section {
	  top: 50px;
  }
  
  .logo {
	  width: 120px;
	  padding: 10px;
  }
  
  main {
	  padding: 370px 18px 10px;
  }
  
  article {
	  display: flex;
	  align-items: center;
	  padding: 8px 12px;
	  border: 2px solid white;
	  border-radius: 8px;
	  margin: 0 auto;
	  &:hover {
		  border: 2px solid #ff9999;
	  }
  }
  
  .thumb {
	  height: 70px;
	  border-radius: 4px;
  }
  
  .details {
	  padding: 8px 22px;
  }
  