.header {
  position: relative;
  font-size: small;
  display: inline-block;
  height: 1.5vh;
  width: 100%;
}

.header__left {
  
height: 2vh;
display: flex;
align-items: center;
}

.header__right {
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.header__right > * {
margin-left: 10px;
}

.header__right > img {
width: 25px;
border-radius: 50%;
}

.header__right > i {
  font-size: medium;
  color: #808080;
}

.header__right > .header__user > span {
  margin-right: 10px;
}

.tab-add-button {
width: 1vh;
height: 2vh;
margin-bottom: 1.2vh;
margin-top: 4vh;
padding-right: 1vh;
background-image: url('b+.png');
background-size: cover;
position: relative;
}


.afafa{
  width: 40vh;
  align-items: center;
  margin-left: 13vh;
  text-align: center;
  background-color: inherit;
  border-color: white;
  border-radius: 25px;
}

.lds-ring {
  display: inline-block;
  position: relative;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 1vh;
  height: 1vh;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
