.test1 {
    max-width: 15.2vw;
    display: inline-block;
}

.tags {
    padding: 20px;
    border-radius: 20px;
      position: relative;
      overflow-y: hidden;
      max-height: 40vh;
    margin-right: -50px; /* Maximum width of scrollbar */
    padding-right: 50px; /* Maximum width of scrollbar */
    margin-top: 2%;
    margin-left: 1vh;
}

.leftSearch{
    /* background-color: #F4f5fA; */
    background-color: #282828;
    border-color: #000000;
    border: 0cm;
    padding: 7px;
    width: 10vh;
    border-bottom: 1px solid;
    outline: none;

}

.leftSearch:focus{
  /* background-color: #F4f5fA; */
  background-color: #AAAAAA;
  border-color: #000000;
  border: 0cm;
  padding: 7px;
  width: 10vh;
  border-bottom: 1px solid;
  outline: none;

}

.sideSources1{
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  
  
}
