.main {
    width: 45%;
    flex: 1;
    position: relative;
    /* background-color: #F4f5fA; */
    background-color: #181818;
    padding-left: 2vh;
    padding-right: 5vh;
    padding-bottom: 0vh;
}