.widgets {
  margin: 2vh;
  width: 70vh;
  height: 95vh;
  position: relative;
  flex: 0.3;
  display: flex ;
  border-radius: 25px;
  font-family: "Montserrat";
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets__searchIcon {
  color: gray;
}

.sourcesButton {
  margin-top: 10%;
  padding-top: 5%;
  appearance: none;
  background-color: transparent;
  border: 2px solid #AAAAAA;
  /* border: 2px solid #1A1A1A; */
  border-radius: 25px;
  box-sizing: border-box;
  color: #AAAAAA;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 75% relative;
  will-change: transform;
}

.sourcesButton:disabled {
  pointer-events: none;
}

.sourcesButton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sourcesButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.showbutton {
  display: inline;
  height: 2vh;
  width: 2vh;
}

.input-search{
  border-style: none;
  padding: 10px;
  font-size: 18px;
  width: 200px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #dddddd;
  padding-right: 40px;
  color:rgb(73, 73, 73);
}
.input-search::placeholder{
  color:rgba(53, 53, 53, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  right: 0px;
  color:#8e9091 ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(49, 48, 48, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 200px;
  border-radius: 0px;
  background-color: hsla(34, 73%, 85%, 0.233);
  border-bottom:1px solid rgba(54, 54, 54, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.searchIcon{
  width: 30px;
  height: 30px;
}

.sideSources {
  width: 10vh;
  padding-right: 22vh;
  padding-left: 2vh;
  margin-left: 2vh;
  border-radius: 20px;
    position: relative;
    overflow: hidden;
    max-height: 50vh;
}

.sideSources > h2 {
  font-size: 18px;
  font-weight: 500;
}

.sideSummary {
  flex-grow: 1;
  float: left;
  margin-top: 2vh;
  max-width: 50vh;
  margin-left: 2vh;
  padding: 20px;
  border-radius: 20px;
  position: relative;
    overflow-y: hidden;
    max-height: 80vh;
}

.sideSummary > h2 {
  font-size: 18px;
  font-weight: 800;
}

.sideVideo {
  margin-left: 3vh;
}

.both {
  display: inline;
}